<!DOCTYPE html>
<html>
<body style="background-color: lavender;">

<h2>Form Page</h2>

<form action="/users/add" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="fname" name="name" value=""><br>
  <label for="email">Email:</label><br>
  <input type="text" id="lname" name="email" value=""><br>
  <br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>